{% extends "base.html" %}

{% block content %}

<p>Welcome, {{ user.username }}.</p>

<ul>
  <li><a href="/dash/profile/">Edit your profile</li>
  <li><a href="/dash/upload/">Upload a photo</li>
</ul>

{% if photos %}
    {% for photo in photos %}
    <div>
      <a href="/{{ photo.user.username }}/photos/{{ photo.slug }}/"><img src="{{ photo.thumbnail_image.url }}" alt="{{ photo.name }}"></a>
    </div>
    {% endfor %}
{% else %}
<p>No photos were found.</p>
{% endif %}

{% endblock %}
