{% extends "base.html" %}

{% block content %}

<p>Welcome, {{ user.username }}.</p>

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST" action="">
    {{ form.as_p }}
    <input type="submit" value="Submit" />

</form>

{% endblock %}
