{% extends "base.html" %}

{% block title %}{{ photo.name }} by {{ photo.user.username }}{% endblock %}
{% block feed %}user/{{user.username}}{% endblock %}

{% block content %}

<div>
<h3>{{ photo.name }}</h3>
<img src="{{ photo.display_image.url }}" alt="{{ photo.name }}" />
</div>

{% if user.is_authenticated %}

{% ifequal user.username photo.user.username %}
<a href="/{{ photo.user.username }}/photos/{{ photo.slug }}/edit/" alt="Edit this photo">Edit this photo</a>
{% endifequal %}

{% endif %}


{% endblock %}
