{% extends "base.html" %}

{% block title %}{{ username }}'s Photos{% endblock %}
{% block feed %}user/{{username}}{% endblock %}

{% block content %}

<h2>{{ username }}'s Photos</h2>

{% if photos %}
    {% for photo in photos %}
    <div>
      <a href="/{{ username }}/photos/{{ photo.slug }}/"><img src="{{ photo.thumbnail_image.url }}" alt="{{ photo.name }}"></a>
    </div>
    {% endfor %}
{% else %}
<p>No photos were found.</p>
{% endif %}

{% endblock %}
