<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="alternate" type="application/rss+xml" href="/feeds/{% block feed %}{%endblock %}">
    </head>
    <body>
      {% block content %}{% endblock %}
    </body>
</html>
